<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title % ></title>
</head>
<body>
    <ul>
        <% for(let i=0;i<3;i++){%>
            <li><% = i %></li>
            
        <%} %>
    </ul>
    <%-contents1 %>
    <% = contents2%>
    <ol>
        <% arr.forEach(function(val){ %>}
      <li>  <%=val %></li>
      <% }) %>
    </ol>
    
</body>
</html>